body{
    background: black;
}
section{
    display: flex;
    flex: auto;
}
button{
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 25%;
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}
#bass button{
    background-color: rgb(255, 65, 65);
    color: black;
}
#snare button{
    background-color: rgb(255, 255, 119);
    color: black;
}